asgiref
attrs
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
cryptography
dj-database-url
Django
django-cors-headers
django-environ
django-pwa
django-rest-framework
djangorestframework
dnspython
firebase-admin
grpcio
grpcio-status
gunicorn
h11
httplib2
idna
joblib
Levenshtein
outcome
packaging
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyparsing
PySocks
python-dotenv
python-Levenshtein
pyttsx3
pytz
PyYAML
rapidfuzz
regex
requests
rsa
setuptools
six
sniffio
sortedcontainers
sqlparse
djangorestframework-simplejwt
threadpoolctl
tqdm
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
websocket-client
wheel
whitenoise
wsproto
MarkupSafe
filelock
fsspec
google-generativeai
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
protobuf
pydantic
tqdm
typing-extensions
google-cloud-vision
