Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-environ
gunicorn
psycopg2-binary
whitenoise
sqlparse
tzdata
google-api-core
google-auth
google-api-python-client
google-cloud-vision
google-generativeai
google-ai-generativelanguage
google-cloud-storage
google-cloud-firestore
google-cloud-logging
google-cloud-pubsub
google-cloud-translate
pillow
