<div class="bg-gray-800">
  <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
    <div class="space-x-4">
      <a
        href="{% url 'master_page' %}"
        class="text-white px-3 py-2 rounded-md text-sm font-medium {% if not select %} bg-blue-600 {% endif %}"
        >Home</a
      >
      <a
        href="{% url 'library_review' %}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium {% if select == 'lib' %} bg-blue-600 {% endif %}"
        >Library Review</a
      >
      <a
        href="{% url 'lecture_review' %}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium {% if select == 'lec' %} bg-blue-600 {% endif %}"
        >Lecture Review</a
      >
    </div>
  </nav>
</div>
